# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\APLICACIONES\Servidores Desarrollo Web\angular8-springboot-websocket\backend\springboot-stomp-websocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
